body {
    margin: 0;
    display: flex;
    font-family: 'Titillium Web', sans-serif;
}

canvas {
    width: 100%;
    height: 75%;
}

#robot-presentation {
    background-color: #434341;
    color: white;
    width: 70%;
}

#robot-control {
    background-color: #767674;
    color: white;
    padding: 1%;
    width: 30%;
}

h3{
    margin: 1%;
}

#robot-current-mode{
    display: inline;
    color:#1CB0CC;
    font-weight: bold;
}